@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Sulphur+Point:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-size: 16px;
    background-color: #F9FCFF;
}

body {
    margin: 0px;
}

header {
    padding-top: 1.4375rem;
    padding-bottom: 1.4375rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #E1F0EE;
    backdrop-filter: blur(6.25rem);
}

.logo-place {
    font-size: 3rem;
    color: #306E9D;
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 700;
}

.links {
    display: flex;
}

.links a {
    font-size: 1.1rem;
    margin-right: 4.375rem;
    font-family: 'Sulphur Point', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    color: #093636;
}

main {
    display: flex;
    flex-direction: column;
}

.psychologist-connect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
}

.connection {
    margin-right: 4.375rem; 
}

.connect {
    font-size: 2.5625rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #093636;
}

.connect span {
    font-size: 2.5625rem;
    color: #226699;
}

.connect-consultation {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #00325A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.connection-buttons {
    display: flex;
    flex-direction: column;
}

.try {
    width: 18.75rem;
    height: 3.1875rem;
    font-size: 1.125rem;
    color: #fff;
    background: #226699;
    border-radius: 0.3205rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    border: none;
}

.choice-specialist {
    color: #6DA4CD;
    width: 18.75rem;
    height: 3.1875rem;
    font-size: 1.125rem;
    margin-top: 1.125rem;
    font-family: 'Raleway', sans-serif;
    background: none;
    border: 2.56388px solid #C6E1F6;
    border-radius: 5.12775px;
}

.demo-video {
    overflow: hidden;
    position: relative;
    border-radius: 0px 0px 7.5rem 7.5rem;
}
.demo-video video {
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
}
.description {
    margin-left: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description h1 {
    color: #093636;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
}

.description span {
    font-weight: 700;
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    color: #226699; 
}

.description p {
    font-weight: 400;
    font-size: 1.5625rem;
    font-family: 'Nunito', sans-serif;
    color: #00325A;
    margin: 0;
}

.left-block {
    display: flex;
    flex-direction: column;
}

.download {
    display: flex;
    margin-top: 2.5rem;
}

.app-store img {
    width: 12.9375rem;
    height: 3.7494rem;
}
.google-play img {
    width: 12.9375rem;
    height: 3.7494rem;
    margin-left: 1rem;
}
.right-block img {
    height: 44.625rem;
}
.psychologist-choice {
}
.choice {
}
.calling-to-psychologist {
}
.inquiries-to-a-psychologist {
}
.question {
}
.depression-and-anxiety {
}
.feelings-and-stress {
}
.searching-for-yourself {
}
.work-and-career {
}
.relationships-with-loved-ones {
}
.parenting {
}
.free-consultation {
}
.why-we-are-better {
}
.per-second-billing {
}
.instant-support {
}
.convenient-communication-format {
}
.proven-specialists {
}
.easy-choice {
}
.payment-after-consultation {
}
.try-for-free {
}
.video-or-audio {
}
.our-psychologist {
}
.community-benefits {
}
.community-assurance {
}
.our-psychologists {
}
.all-specialists {
}
.faq {
}
.ask-us {
}
.test-call {
}
.logo {
}
.social {
}

@media screen and (max-width: 1300px) {
    * {
        font-size: 14px;
    }
}
